.sidebar {
  position: relative;
  width: 400px;
  height: 800px;
  margin-right: auto;
}

.portre-container {
  width: 400px;
  height: 700px;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 120px; /* Portreye yer açar */
  text-align: center;

  z-index: 1;
}

.portre-image {
  position: absolute;
  top: -100px; /* Yukarı taşır */
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.portre-image img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}
h2 {
  font-family: "Releway", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0%;
  color: black;
}
p {
  font-family: "Releway", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0%;
  color: gray;
}
.social-icons {
  display: flex;
  justify-content: space-around;

  align-items: center;
  width: 296px;
  height: 62px;
  margin: 0 auto; /* Ortalar */
  gap: 8px;
}
.social-icons a {
  width: 60px;
  height: 60px;
  background-color: #f2f7fc;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.contact-info {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  background-color: #f2f5f9;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-icon {
  display: flex;
  flex-direction: row; /* ikon ve metni yan yana hizalar */
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 63px;
  background-color: #e3e3e3;
  gap: 12px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 0 16px;
  cursor: pointer;
  position: relative;
  top: 558px;
  left: 125px;

  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact-icon:hover {
  background-color: #d0e6ff;
}

.contact-icon svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.download-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: auto;
  transition: background 0.3s ease;
}

.download-btn:hover {
  background: linear-gradient(to right, #ff6a4d, #fd9c6b);
}
